* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --color-primary: #bf0603;
  --color-white: #fff;
  --color-light: #e8e8e8;
  --color-black: #000;
  --color-bg-primary: #1d1d1d;
  --color-bg-secondary: #404040;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background: var(--color-bg-primary);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}

h2 {
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: var(--color-white);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  display: inline-block;
  background: var(--color-white);
  color: var(--color-black);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
}

.btn:hover {
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
}

/*=========== Navbar ============*/
nav {
  background: transparent;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}

.window-scroll {
  background: var(--color-bg-primary);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}

.nav__container {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  display: none;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav__menu a {
  font-size: 0.9rem;
  transition: var(--transition);
}

.nav__menu a:hover {
  color: var(--color-primary);
}

/*=========== Header ============*/
header {
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
}

.header__left p {
  margin: 1rem 0 2.4rem;
}

.header__right-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*=========== Music Player ============*/

.player {
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  border: 1px solid transparent;
  padding: 1.8rem;
  border-radius: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.now-playing {
  font-size: 1rem;
}

.track-name {
  font-size: 2.5rem;
}

.media-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.8rem;
  color: var(--color-light);
}

.active {
  color: var(--color-black);
}

.playpause-track,
.prev-track,
.next-track {
  padding: 1.5rem;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1;
}

.slider__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seek-slider,
.volume-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: var(--color-bg-secondary);
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.seek-slider::-webkit-slider-thumb,
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: var(--color-light);
  border: 3px solid var(--color-primary);
  cursor: pointer;
  border-radius: 80%;
}

.seek-slider:hover,
.volume-slider:hover {
  opacity: 1;
}

.seek-slider {
  width: 60%;
}

.volume-slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 0.6rem;
}

i.uil uil-volume-down,
i.uil uil-volume {
  padding: 0.6rem;
}

i,
i.uil uil-previous,
i.uil uil-play,
i.uil uil-step-forward {
  cursor: pointer;
}

.stroke {
  background: var(--color-light);
  height: 150%;
  width: 0.6rem;
  border-radius: 3rem;
  margin: 0rem 3rem;
  animation: animate 1.4s linear infinite;
}
